---
import '../styles/globals.css'
import { Button } from '../components/ui/button'
import ThemeIcon from '../components/ThemeIcon.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

	</head>
	<body>
		<div class="grid grid-flow-col mt-4">
			
			<h1 class="col-span-4 ml-4">Astro x ShadCN</h1>
			<Button>Sign Up</Button>
			<Button size="lg" variant="outline">Login</Button>
			<ThemeIcon />
		</div>
		<div class="m-8">Seperate?</div>
	</body>
</html>