---
interface props {
    title: string;
    link: string;
}

const {title} = Astro.props;
const {link} = Astro.props;
---
<div class="grid place-items-center w-60 h-12 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 rounded-2xl hover:from-indigo-800 hover:to-pink-700 cursor-pointer">
    
    <p class="text-white font-semibold select-none" ><a href={link} />{title}</p>
</div>