---
import { Separator } from './ui/separator.tsx'
---
    <div class="grid grid-flow-col">
        <a href="/" class="m-1">Home</a>
            <Separator orientation="vertical" />
        <a href="/about" class="m-1">About</a>
            <Separator  orientation="vertical" />
        <a href="/pricing" class="m-1 mr-8">Pricing</a>
    </div>