---
import {
  Dialog,
  DialogContent,
  DialogDescription,
  DialogHeader,
  DialogTitle,
  DialogTrigger,
} from "./ui/dialog"
import { Button } from "./ui/button"
---
<Dialog>
    <DialogTrigger asChild>
        <Button>Sign Up</Button>
    </DialogTrigger>
    <DialogContent>
        This is just a test
    </DialogContent>
</Dialog>