---
import ThemeIcon from '../components/ThemeIcon.astro';
import { Button } from '../components/ui/button';
import {
  NavigationMenu,
  NavigationMenuContent,
  NavigationMenuIndicator,
  NavigationMenuItem,
  NavigationMenuLink,
  NavigationMenuList,
  NavigationMenuTrigger,
  NavigationMenuViewport,
} from "../components/ui/navigation-menu"


import '../styles/globals.css'
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<div class="grid grid-flow-col mt-4">
			<h1 class="col-span-12 ml-4">Astro x ShadCN</h1>
			<a href="/" class="m-1">Home</a>
			<a href="/about" class="m-1">About</a>
			<a href="/pricing" class="m-1 mr-8">Pricing</a>
			<Button><p class="text-white">Sign up</p></Button>
			<Button size="lg" variant="outline">Login</Button>
			<ThemeIcon class="place-self-end"/>
		</div>
		<slot />
	</body>
</html>